<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1>Edit Project Holder</h1>
      <p><strong>Project Holder Name</strong> : {{projectHolder.name}}</p>      
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
</header>
 {{#with projectHolder}}
  <section>
    <div class="container">
      <br>
      <form action="/projectholder/edit/{{this.id}}" method="Post" enctype="multipart/form-data">
        <div class="form-row">
          <input type="hidden" name="projectSupportId" value="{{{this.projectSupportId}}}" >
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{{name}}}">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{{email}}}">
          </div>                     
        </div>    
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address">Address 1</label>
            <input type="text" class="form-control" name="address1" placeholder="1234 Main St" value="{{{address1}}}">
          </div>
          <div class="form-group col-md-6">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor" value="{{{address2}}}">
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Phone</label>
            <input type="Phone" class="form-control" name="phone" placeholder="Phone" value="{{{phone}}}">
          </div>
          <div class="form-group col-md-6">
            <label for="personincharge">Image</label>
            <input type="file" class="form-control" name="projectHolderImage" />
          </div>
        </div>        
        <div class="form-row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/projectholder?psid={{this.projectSupportId}}#{{this.id}}" class="btn btn-danger">Cancel</a>
          </div>
          <br><br><br><br>
        </div>
      </form>
    </div>
  </section>
{{/with}}
